@inherits LayoutComponentBase
@inject Frontend.AuthState AuthState
@inject NavigationManager Nav
@* test comment *@

<div class="page bg-light">

    <nav class="navbar navbar-expand navbar-light bg-white shadow-sm">
        <div class="container-fluid">

            <!-- Navbar brand -->
            <a class="navbar-brand d-flex align-items-center" href="/">
                <span class="fw-semibold">Nachtrag Semesternoten</span>
            </a>

            <!-- Navbar rechts -->
            <div class="d-flex align-items-center gap-3">

                @if (AuthState.IsLoggedIn)
                {
                    <a class="nav-link fw-semibold" href="/formular">
                        Formular
                    </a>

                    <button class="nav-action-btn" type="button" @onclick="Logout">
                        Abmelden
                    </button>

                }
                else
                {
                    <a class="btn btn-outline-dark" href="/login">
                        <b>Login</b>
                    </a>

                    <a class="btn btn-outline-dark" href="/register">
                        <b>Registration</b>
                    </a>

                }


            </div>
        </div>
    </nav>

    <main>
        <article class="content px-4">
            <ErrorBoundary>
                <ChildContent>
                    @Body
                </ChildContent>
                <ErrorContent>
                    Unhandled excpetion occured
                </ErrorContent>
            </ErrorBoundary>
        </article>
    </main>
</div>

@code {
    private void Logout()
    {
        AuthState.Clear();
        Nav.NavigateTo("/login", true);
    }
}
